table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #b9b6b6;
}
.semester-header {
    background-color: #b9b6b6;
    text-align: center;
}
